nodered/flows.template.json
[
  {
    "id": "broker1",
    "type": "mqtt-broker",
    "name": "Mosquitto",
    "broker": "mosquitto",
    "port": "1883",
    "clientid": "nodered-silence",
    "autoConnect": true,
    "usetls": false,
    "protocolVersion": "4"
  },
  {
    "id": "tab1",
    "type": "ui_tab",
    "name": "Scooter",
    "icon": "dashboard",
    "order": 1
  },
  {
    "id": "g-etat",
    "type": "ui_group",
    "name": "Etat",
    "tab": "tab1",
    "order": 1,
    "disp": true,
    "width": "6"
  },
  {
    "id": "g-bat",
    "type": "ui_group",
    "name": "Batterie",
    "tab": "tab1",
    "order": 2,
    "disp": true,
    "width": "6"
  },
  {
    "id": "g-perf",
    "type": "ui_group",
    "name": "Performances",
    "tab": "tab1",
    "order": 3,
    "disp": true,
    "width": "6"
  },
  {
    "id": "g-temp",
    "type": "ui_group",
    "name": "Temperatures",
    "tab": "tab1",
    "order": 4,
    "disp": true,
    "width": "6"
  },
  {
    "id": "g-cmd",
    "type": "ui_group",
    "name": "Commandes",
    "tab": "tab1",
    "order": 5,
    "disp": true,
    "width": "12"
  },
  {
    "id": "mqtt-in",
    "type": "mqtt in",
    "name": "Status",
    "topic": "home/silence-server/+/status",
    "qos": "0",
    "datatype": "json",
    "broker": "broker1",
    "x": 100,
    "y": 100,
    "wires": [["fn1"]]
  },
  {
    "id": "fn1",
    "type": "function",
    "name": "Extraire",
    "func": "var d=msg.payload;\nvar s={0:'Eteint',1:'Veille',2:'Demarrage',3:'Pret',4:'En route',5:'En charge'};\nnode.send([\n  [{payload:s[d.status]||('?'+d.status)}],\n  [{payload:parseFloat(d.odo||0).toFixed(1)+' km'}],\n  [{payload:d.BatterySoC||0}],\n  [{payload:parseFloat(d.range||0).toFixed(0)+' km'}],\n  [{payload:d.charging?'En charge':(d.batteryOut?'Batterie sortie':'Normal')}],\n  [{payload:Math.round(d.velocity||0)}],\n  [{payload:d.motorTemperature||0}],\n  [{payload:d.inverterTemperature||0}],\n  [{payload:d.batteryTemperature||0}]\n]);",
    "outputs": 9,
    "x": 300,
    "y": 100,
    "wires": [
      ["txt-status"],
      ["txt-odo"],
      ["g-battery"],
      ["txt-range"],
      ["txt-charge"],
      ["g-speed"],
      ["g-tmot"],
      ["g-tinv"],
      ["g-tbat"]
    ]
  },
  {
    "id": "txt-status",
    "type": "ui_text",
    "group": "g-etat",
    "order": 1,
    "name": "Etat",
    "label": "Etat",
    "format": "{{msg.payload}}",
    "layout": "row-spread",
    "wires": []
  },
  {
    "id": "txt-odo",
    "type": "ui_text",
    "group": "g-etat",
    "order": 2,
    "name": "Kilometrage",
    "label": "Kilometrage",
    "format": "{{msg.payload}}",
    "layout": "row-spread",
    "wires": []
  },
  {
    "id": "g-battery",
    "type": "ui_gauge",
    "group": "g-bat",
    "order": 1,
    "name": "Batterie",
    "label": "Batterie",
    "format": "{{value}}%",
    "min": 0,
    "max": 100,
    "colors": ["#e74c3c", "#f39c12", "#2ecc71"],
    "seg1": 20,
    "seg2": 50,
    "wires": []
  },
  {
    "id": "txt-range",
    "type": "ui_text",
    "group": "g-bat",
    "order": 2,
    "name": "Autonomie",
    "label": "Autonomie",
    "format": "{{msg.payload}}",
    "layout": "row-spread",
    "wires": []
  },
  {
    "id": "txt-charge",
    "type": "ui_text",
    "group": "g-bat",
    "order": 3,
    "name": "Charge",
    "label": "Charge",
    "format": "{{msg.payload}}",
    "layout": "row-spread",
    "wires": []
  },
  {
    "id": "g-speed",
    "type": "ui_gauge",
    "group": "g-perf",
    "order": 1,
    "name": "Vitesse",
    "label": "Vitesse",
    "format": "{{value}} km/h",
    "min": 0,
    "max": 120,
    "colors": ["#2ecc71", "#f39c12", "#e74c3c"],
    "seg1": 60,
    "seg2": 90,
    "wires": []
  },
  {
    "id": "g-tmot",
    "type": "ui_gauge",
    "group": "g-temp",
    "order": 1,
    "name": "Moteur",
    "label": "Moteur",
    "format": "{{value}} C",
    "min": 0,
    "max": 120,
    "colors": ["#2ecc71", "#f39c12", "#e74c3c"],
    "seg1": 60,
    "seg2": 90,
    "wires": []
  },
  {
    "id": "g-tinv",
    "type": "ui_gauge",
    "group": "g-temp",
    "order": 2,
    "name": "Onduleur",
    "label": "Onduleur",
    "format": "{{value}} C",
    "min": 0,
    "max": 120,
    "colors": ["#2ecc71", "#f39c12", "#e74c3c"],
    "seg1": 60,
    "seg2": 90,
    "wires": []
  },
  {
    "id": "g-tbat",
    "type": "ui_gauge",
    "group": "g-temp",
    "order": 3,
    "name": "Bat Temp",
    "label": "Batterie",
    "format": "{{value}} C",
    "min": 0,
    "max": 60,
    "colors": ["#2ecc71", "#f39c12", "#e74c3c"],
    "seg1": 35,
    "seg2": 45,
    "wires": []
  },
  {
    "id": "mqtt-out",
    "type": "mqtt out",
    "name": "Commandes",
    "topic": "",
    "qos": "0",
    "retain": "",
    "broker": "broker1",
    "x": 700,
    "y": 500,
    "wires": []
  },
  {
    "id": "btn-on",
    "type": "ui_button",
    "group": "g-cmd",
    "order": 1,
    "width": 2,
    "height": 1,
    "label": "Allumer",
    "bgcolor": "#2ecc71",
    "payload": "",
    "payloadType": "str",
    "topic": "home/silence-server/TON_IMEI/command/TURN_ON_SCOOTER",
    "topicType": "str",
    "wires": [["mqtt-out"]]
  },
  {
    "id": "btn-off",
    "type": "ui_button",
    "group": "g-cmd",
    "order": 2,
    "width": 2,
    "height": 1,
    "label": "Eteindre",
    "bgcolor": "#e74c3c",
    "payload": "",
    "payloadType": "str",
    "topic": "home/silence-server/TON_IMEI/command/TURN_OFF_SCOOTER",
    "topicType": "str",
    "wires": [["mqtt-out"]]
  },
  {
    "id": "btn-seat",
    "type": "ui_button",
    "group": "g-cmd",
    "order": 3,
    "width": 2,
    "height": 1,
    "label": "Selle",
    "bgcolor": "#3498db",
    "payload": "",
    "payloadType": "str",
    "topic": "home/silence-server/TON_IMEI/command/OPEN_SEAT",
    "topicType": "str",
    "wires": [["mqtt-out"]]
  },
  {
    "id": "btn-flash",
    "type": "ui_button",
    "group": "g-cmd",
    "order": 4,
    "width": 2,
    "height": 1,
    "label": "Flash",
    "bgcolor": "#f39c12",
    "payload": "",
    "payloadType": "str",
    "topic": "home/silence-server/TON_IMEI/command/FLASH",
    "topicType": "str",
    "wires": [["mqtt-out"]]
  },
  {
    "id": "btn-beep",
    "type": "ui_button",
    "group": "g-cmd",
    "order": 5,
    "width": 2,
    "height": 1,
    "label": "Beep+Flash",
    "bgcolor": "#9b59b6",
    "payload": "",
    "payloadType": "str",
    "topic": "home/silence-server/TON_IMEI/command/BEEP_FLASH",
    "topicType": "str",
    "wires": [["mqtt-out"]]
  }
]
